html {
    font-family: 'Roboto', sans-serif;
}
/* Estilos para la vista de inicio de sesión */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-body form {
    display: flex;
    flex-direction: column;
}

.login-body .form-group {
    margin-bottom: 15px;
}

.login-body label {
    font-weight: bold;
}

.login-body input[type="email"],
.login-body input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-body button[type="submit"] {
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para la vista de registro */
.register-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.register-header {
    text-align: center;
    margin-bottom: 20px;
}

.register-body form {
    display: flex;
    flex-direction: column;
}

.register-body .form-group {
    margin-bottom: 15px;
}

.register-body label {
    font-weight: bold;
}

.register-body input[type="text"],
.register-body input[type="email"],
.register-body input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-body button[type="submit"] {
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
